{% extends "layout.njk" %}

{% block head %}
    <title> Sobre a Rocketseat</title>
{% endblock head %}

{% block content %}

    <div class="about">
        <div class="story">
            <h2>Como tudo começou</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam at aliquid, exercitationem esse suscipit et. Est eum nobis, mollitia numquam delectus, velit id minus cupiditate consequuntur deserunt quo. Esse, similique! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem aperiam aliquid quam ipsum tempore, vitae hic tenetur quis culpa blanditiis, perspiciatis perferendis. Reiciendis ipsum quas quasi corrupti? Ipsa, mollitia aspernatur.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima veniam, optio beatae tenetur, ratione dolor nulla exercitationem quam facere quae repudiandae accusamus sit explicabo voluptate. Officia voluptatem distinctio explicabo voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatibus earum, nobis libero atque facilis aperiam fugiat, asperiores veniam saepe dicta ducimus iusto laborum rerum quo esse ratione odio iure?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi perspiciatis eos ex odit ea ad iste quam amet. Non saepe laborum sed laudantium et cupiditate voluptates nam voluptas itaque eum!</p>
            
            <h2>O nosso método</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro at similique fuga in architecto eaque ea aperiam dolorum, tempora ducimus, repudiandae minima! Autem illo repudiandae molestiae provident voluptatibus temporibus labore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt error tempore non odit exercitationem, dicta, ipsam ex earum reiciendis numquam blanditiis quod, voluptatum itaque quasi hic enim amet nam necessitatibus.</p>   
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem assumenda omnis veniam ab. Distinctio, illo cumque corporis aliquid, quae earum ipsa ex dignissimos consectetur consequuntur tempora eum unde asperiores? Quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, est similique! Accusamus, dolore? Blanditiis nisi iusto neque numquam beatae assumenda accusamus earum rerum delectus nobis et optio, reprehenderit esse maiores!</p>
            
            <h2>Embarque nesse foguete</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam doloribus, minus id obcaecati illo nostrum natus perspiciatis sed, veritatis ipsa blanditiis quidem quisquam impedit fugit tempora laboriosam, odit doloremque.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus tenetur nostrum incidunt quo iure earum ad magnam ipsa corrupti, fuga, temporibus voluptas, facere eligendi minima tempore! Libero placeat sunt magni.</p>
            
        </div>

    </div>

{% endblock content %}