
{% extends "layout.njk" %}


{% block head %}
    <title> Conteúdos da Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
    rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="titulo">
        <h1>Conteúdos</h1>
    </div>   

    <section class="cards">
        {% for item in items %} <!--Estrutura de repetição para pegar todos os objetos-->

            <div class="card" id="{{item.id}}">
                
                <span class="{{item.class}}">{{item.level}}</span>
                    
                <div class="card-img">
                    <img src="{{item.img_url}}" alt="logo do {{item.id}}">
                </div>
                
                <div class="card-info">
                    <p>{{item.cardinfo}}</p>
                </div>
                <div class="card-tag">
                    <p>{{item.price}}</p>
                    <p>{{item.modules}}</p>
                </div>
                
            </div>
        {% endfor %}
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i><!--o nome do botao tem que ser igual ao do icone! Basta procurar-->
            </a>

            <div class= "modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src= "scripts.js"></script>

 {% endblock content %}   


    