{% extends "layout.njk" %}

{% block name %}
{% endblock name %}

{% block content %}

    <div class="content">
        <img class="foto" src="{{data.avatar_url}}" alt="logo">
        <h1>{{data.title}}</h1>
        <h2>{{data.subtitle}}</h2>
        <p>{{data.moto}}</p>
        <ul>{{data.techs}}</ul>
    </div>

{% endblock content %}
