
{% extends "layout.njk" %}

{% block head %}
    <title> Erro 404</title>
{% endblock head %}

{% block content %}

    <div class="error">
        <div class="error-message">
            <h1>Oooooops... Now that is embarassing...</h1>
            <h2>Error: 404 - Not found</h2>
            <p>We are so sorry, but the page you have been looking for was not found! :( </p>
        </div>
    </div>

{% endblock content %}